.login-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #2C99FF;
    text-decoration: underline;
    text-decoration-color: #2C99FF;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}