input[type="text"] {
    width: calc(100% - 50px);
    /* 右のkgを考慮して調整 */
}

.weight-input-container {
    position: relative;
}

.weight-unit {
    position: absolute;
    right: 26px;
    bottom: 5px;
    font-size: 14px;
    color: #333;
}