html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    height: 100vh;
        /* ビューポートの高さ全体を使う */
    background: linear-gradient(to bottom right, #A3A6E1, #FFABD9);
}